@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.container {
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    position: relative;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.background-color {
    width: 100%;
    background-image: url(../imgs/admin-background.png);
    height: 100vh;
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0 0 50px;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 1000;
}

.logo {
    width: 298px;
    color: #ff8833;
}

.admin-bar {
    background-color: #f4a660;
    width: 24.5%;
    padding: 20px;
    text-align: end;
}

.admin-bar h1 {
    font-size: 1.9rem;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.login {
    height: 40vh;
    width: 42%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4a660;
    border-radius: 15px;
    position: relative;
    margin-top: 82px;
}

.bx-user {
    position: absolute;
    font-size: 2rem !important;
    top: -29px;
    left: -27px;
    height: 65px;
    width: 65px;
    background-color: #ff8833;
    color: #fff !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #ff8833;
}

form {
    padding: 20px;
    width: 96%;
}

.main-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

.bx {
    font-size: 2.2rem;
    color: #ff8833;
}

.password-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    box-shadow: 0 0 8px inset #e8e8e8;
    border-radius: 4px;
    padding: 15px;
}

.input {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: transparent;
}

.password-container .bx {
    font-size: 1.2rem;
    cursor: pointer;
    color: #e8e8e8;
}

.input::placeholder {
    color: #fff;
    font-size: .9rem;
}

#btns {
    position: absolute;
    background-color: #171717;
    bottom: -17px;
    padding: 0 10px;
    left: 29px;
    outline: none;
    border: none;
    color: #ff8833;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: .4s all linear;
}
#btns:hover{
    transform: scale(1.1);

}

.dark-line {
    width: 79%;
    border-radius: 0 10px 10px 0;
    height: 0.7vh;
    background-color: #000;
    margin-top: 113px;
}

.bar {
    color: #000;
    background-color: #f4a660;
    position: absolute;
    height: 100vh;
    width: 23.65%;
    z-index: 999;
    right: 0;
    top: -200%;
    transition: .6s ease-in-out;
}

.bar ul {
    margin-top: 64px;
    float: right;
}

.active {
    background-color: #000;
    width: 100%;
    color: #f4a660;
    transition: .4s all ease-in-out;
}

.bar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px 40px;
    font-size: 1.8rem;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.bar ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bar ul li:hover,
.bar ul li:focus,
.hvr-sweep-to-right:active {
    color: #f4a660;
}

.bar ul li:hover:before,
.bar ul li:focus:before,
.bar ul li:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.list, .appoinment-box {
    position: fixed;
    z-index: 99;
    top: -400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 76.35%;
    padding-top: 20px;
    height: 100vh;
    overflow: auto;
    transition: 1.3s all ease-in-out;
}
.list-box{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.information{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    background-color: #f4a660;
    position: relative;
    padding: 20px;
}
.information img {
    width: 75px;
    position: absolute;
    left: -1px;
    top: -11px;
}
.information span{
    position: absolute;
    left: 24px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.informatio-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 90%;
}
.information-li{
    font-size: 1.2rem;
    font-weight: 600;
    width: 33%;
    font-family: 'Josefin Sans', sans-serif;
}
.listed{
    /* position: relative; */
    width: 100%;
}
ul.listed-ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.list-div {
    width: 100%;
    background-color: #505050;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}
.info{
    position: relative;
    padding: 27px;
    width: 89%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    word-wrap:normal;
}
.details, .details1{
    width: 300px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: #fff;
}
.details1{
    width: 230px;
    height: 10px;
}
.arrow {
    height: 100%;
    background: #f4a660;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow .bx {
    font-size: 1.2rem;
    color: #505050;
}
.list-div2 {
    width: 100%;
    background-color: #505050;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 56px;
}
.heights{
    min-height: 100px;
}
#moreText{
    display: none;
}
.list-div img {
    width: 75px;
    position: absolute;
    left: 0px;
    top: -11px;
}
#unique-id {
    position: absolute;
    left: 37px;
    top: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 4;
    font-family: 'Josefin Sans', sans-serif;
}
@media (max-width:1351px) {
    .bar {
        width: 23.55%;
    }
    .bar ul li {
        padding: 20px 26px;
        font-size: 1.5rem;
    }
}
@media (max-width:1155px) {
    .bar {
        width: 23.45%;
    }
}
@media (max-width:1100px) {
    .information span {
        font-size: 1rem;
    }
    .information-li {
        font-size: 1rem;
    }
    #unique-id {
        font-size: 1.4rem;
    }
    .details, .details1 {
        font-size: 1rem;
    }
    .bar ul li {
        padding: 20px 22px;
        font-size: 1.35rem;
    }
}
@media (max-width:1041px) {
    .bar {
        width: 23.3%;
    }
}
@media (max-width:950px) {
    .admin-bar h1 {
        font-size: 1.7rem;
    }
    .login {
        width: 57%;
    }
    .bx-user {
        font-size: 1.7rem !important;
    }
    .input {
        font-size: .9rem;
    }
    .bx {
        font-size: 2rem;
    }
    #btns {
        bottom: -17px;
        font-size: 1.5rem;
    }
    .logo {
        width: 232px;
    }
    .admin-bar {
        padding: 14px;
    }
    .bar {
        width: 23.7%;
    }
    .navbar {
        padding: 40px 0 0 31px;
    }
    .bar ul li {
        padding: 20px;
        font-size: 1.1rem;
    }
}
@media (max-width:755px) {
    .bx-user {
        height: 60px;
        width: 60px;
    }
    .admin-bar {
        width: 26.5%;
        padding: 8px;
    }
    .bar {
        width: 26.1%;
    }
    .background-color {
        background-image: url(../imgs/admin-background1.png);
    }
    .login {
        width: 70%;
    }
    .navbar {
        padding: 41px 0 0 12px;
    }
    .logo {
        width: 244px;
    }
    .information img, .list-div img {
        width: 67px;
        height: 62px;
    }
    .information span {
        left: 19px;
    }
    .list, .appoinment-box {
        width: 74.35%;
    }
    #unique-id {
        left: 33px;
        top: 18px;
    }

}
@media (max-width:700px) {
    .bar {
        width: 100%;
        height: 25vh;
    }
    .dark-line {
        margin-top: 85px;
        width: 100%;
    }
    .info {
        gap: 10px;
    }
    .bar ul {
        margin-top: -4px;
        width: 100%;
        float: left;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    gap: 10px;
    }
    .list, .appoinment-box {
        width: 100%;
        padding-top: 76px;
    }
    .active {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bar ul li{
        width: 50%;
        font-size: 1.6rem;
    }
}
@media (max-width:656px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #btns{
        background-color: transparent;
        position: static;
    }
}
@media (max-width:541px) {
    .bar ul li{
        font-size: 1.4rem;
    }
    .bar {
        height: 25vh;
    }
    .logo {
        width: 219px;
    }
    .list, .appoinment-box {
        padding-top: 66px;
    }
}
@media (max-width:520px) {
    .logo {
        width: 218px;
    }
    .input::placeholder {
        font-size: .8rem;
    }
    .input{
        font-size: .8rem;
    }
    .background-color {
        background-image: url(../imgs/admin-background2.png);
    }
    .information img, .list-div img {
        width: 61px;
        height: 57px;
    }
    .information span {
        left: 16px;
    }
    #unique-id {
        left: 29px;
        top: 9px;
    }
    .info {
        padding: 22px;
        gap: 10px;
    }
}
@media (max-width:500px) {
    .details, .details1 {
        font-size: .9rem;
    }
    .information img, .list-div img {
        width: 52px;
        height: 52px;
    }
    #unique-id {
        left: 26px;
        top: 14px;
        font-size: 1rem;
    }
    .information span {
        left: 13px;
        font-size: .9rem;
    }
}
@media (max-width:476px) {
    .bx {
        font-size: 1.8rem;
    }
    .password-container .bx {
        font-size: 1rem;
    } 
    .login {
        width: 75%;
        height: 41vh;
    }
    
    .admin-bar h1 {
        font-size: 1.3rem;
    }
    .logo {
        width: 192px;
    }
    .admin-bar {
        width: 31.5%;
    }
    #btns {
        position: relative;
        background-color: transparent;
        bottom: 0;
        padding: 10px;
        left: 0;
        font-size: 1.3rem;
    }
    form {
        padding: 11px;
        width: 96%;
        gap: 0;
    }
    .bx-user {
        height: 58px;
        width: 58px;
    }
    .main-input {
        margin: 14px 0;
    }
    .information-li {
        font-size: .9rem;
    }
    .bar ul li {
        font-size: 1.2rem;
        padding: 17px 40px;
    }
    .informatio-ul {
        gap: 10px;
    }
    .details, .details1 {
        width: 121px;
    }
    .details, .details1 {
        font-size: .8rem;
    }
    .bar {
        width: 100%;
        height: 22vh;
    }
    .dark-line {
        margin-top: 78px;
    }
}
@media (max-width:423px) {
    .information span {
        left: 13px;
        top: 12px;
    }
    #unique-id {
        left: 26px;
        top: 7px;
        font-size: 1rem;
    }
}
@media (max-width:400px) {
    .bx-user {
        height: 50px;
        width: 50px;
    }
    .login {
        width: 83%;
    }
    
    form {
        padding: 11px;
        width: 96%;
    }
    .main-input {
        margin: 19px 0;
    }
    .logo {
        width: 145px;
    }
    .admin-bar h1 {
        font-size: 1.1rem;
    }
    .navbar {
        padding: 33px 0 0 12px;
    }
    .bx-user {
        top: -31px;
    left: -21px;
    }
    .login {
        height: 47vh;
    }
    .bx-user {
        height: 58px;
        width: 58px;
    }
    .bar {
        height: 20.5vh;
    }
    .dark-line {
        margin-top: 67px;
    }
    .list, .appoinment-box {
        padding-top: 44px;
    }
}
@media (max-width:350px) {
    .bar ul li {
        padding: 20px 25px;
        font-size: 1rem;
    }
    .information span {
        left: 12px;
        top: 10px;
        font-size: .9rem;
    }
    .informatio-ul {
        width: 87%;
    }
    .list, .appoinment-box {
        padding-top: 45px;
    }
    .info {
        width: 87%;
    }
    .details, .details1 {
        font-size: .75rem;
    }
}