.preloader {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: 110000;
    position: fixed;
    place-items: center;
    display: grid;
}

.loader {
    height: 200px;
    width: 200px;
}
.blog-sec1, .blog-sec3, .blog-sec4,.blog-sec5,.blog-sec6{
    width: 100%;
    min-height: 100vh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.blog-sec1 {
    box-shadow: 0 0 5px #e8e8e8;
}
.sec1-main-img{
    height: 65vh;
    width: 55%;
    background-color: #f4a660;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 99px;
    padding: 40px;
}
.sec1-img1{
    position: absolute;
    top: -101px;
    left: -103px;
    height: 199px;
    width: 218px;
}
.sec1-img2{
    height: auto;
    width: 35vw;
}
.sec1-img3{
    transform: rotate(180deg);
    position: absolute;
    height: 199px;
    width: 218px;
    bottom: -101px;
    right: -103px;
    z-index: 0;
}
.blog-sec1 h1{
    font-size: 2.4vw;
    color: #E8E8E8;
    z-index: 2;
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.blog-sec1 h2{
    position: absolute;
    right: -124px;
    bottom: 252x;
    font-size: 4vw;
    transform: rotate(-90deg);
    color: #E8E8E8;
    font-family: 'Josefin Sans', sans-serif;
}
.blog-sec2{
    width: 100%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    overflow: hidden;
}
.sec2-box{
    display: flex;
    width: 100%;
    align-items: center;
}
.sec2-box img {
    height: 110px;
    width: 176px;
    padding: 0 15px;
}
.secBox1, .secBox2{
    min-height: 22vh;
    background-color: #000;
    width: 50%;
    box-shadow: 0 0 7px #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    gap: 15px;
}
.secBox1 p{
    font-size: 1.1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.secBox1 h3{
    font-size: 2.1vw;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
.secBox1 h3 span{
    color: #ff8844;
    font-size: 3.2vw;
}
/* ***********Section 2************** */
.secBox2{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.secBox2 h1{
    display: flex;
    font-size: 2.3vw;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
.secBox2 h1 span{
    color: #ff8844;
    font-size: 3.5vw;
}
.secBox2 input{
    background-color: transparent;
    padding:15px 25px;
    border-radius: 2px;
    color: #fff;
    font-size: 1.1rem;
    width: 50%;
    border: none;
    outline: none;
    box-shadow: 0 0 8px inset #E8E8E8;
}
.secBox2 ::placeholder{
    font-size: 1.1rem;
    color: #E8E8E8;
}
.sec2-para{
    font-size: 1.1rem;
    text-align: center;
    width: 91%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2px;
}
.line{
    width: 80%;
}
#hide1{
    display: none;
}   
/* *********Section 3********** */
.blog-sec3, .blog-sec4{
    gap: 30px;
}
.sec3-box1 , .sec4-box1, .sec5-box1,.sec6-box1{
    width: 90%;
}
.sec3-box1 h2, .sec4-box1 h2, .sec5-box1 h2, .sec6-box1 h2{
    color: #ff8844;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
}
.sec3-box1 p, .sec4-box1 p ,.sec5-box1 p, .sec6-box1 p{
    font-size: 1.1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.sec3-box2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    gap: 20px;
}
.sec3-left {
    width: 62%;
    display: flex;
    flex-direction: column;
}
.sec3-right {
    width: 31%;
}
.sec3-left h2{
    font-size: 1.1rem;
    color: #f4a660;
    font-family: Arial, Helvetica, sans-serif;
}
.sec3-left p{
    font-size: 1.1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
/* .sec3-right img{
 height: 380px;
 width: 380px;
} */
/* **********Section 4************* */

.sec4-box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    column-gap: 10px;
    row-gap: 15px;
}
.sec4-boxs{
    width: 44vw;
    min-height: 22vh;
    box-shadow: 0 0 5px #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 30px;
}
.sec4-boxs img {
    height: 82px;
    width: 112px;
}

.sec4-boxs1 {
    height: 72px;
    width: 112px;
} 


.sec4-boxs p{
    font-size: 1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.sec4-boxs p span{
    color: #f4a660;
}
/* **********Section 5************** */
.sec5-box2,.sec6-box2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 76vh;
}
 .sec6-right{
    width: 60%;
}

.sec5-left {
width: 90%;
}

.sec5-left p ,.sec6-right p{
    color: #fff;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sec5-right, .sec6-left{
    height: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.right-sec5{
    width: 34%;
}
.right-sec6 {
    width: 28%;
}
.right5{
    height: inherit !important;
}
.sec5{
    min-height: 53vh;
    padding-right: 69px;
}

/* **********Section 6************* */

.sec6-box1, .sec6-box2{
    text-align: end;
}
.sec5-left p span{
    color: #ff8844;
}
.blog-logo2{
    height: 90px;
    width: 120px;
}

/* ******Recent Post******** */

.recent-post{
    min-height: 60vh;
    width: 100%;
    gap: 20px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.recent-post h2{
    font-size: 3rem;
    font-weight: 600;
    color: #ff8844;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.posts{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}
.post-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
    height: 52vh;
    width: 24%;
    background-color: #E8E8E8;
}
.imgs{
    width: 100%;
    height: 68%;
    background-color: #f4a660;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.para-box a{
    color: #f4a660;
}


/* Contact section start */

.contact {
    width: 100%;
    min-height: 80vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.contact_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 75%;
    gap: 43px;
}

.contact_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;

}

.contact_left h1 {
    font-size: 4.5vw;
    font-weight: 900;
    padding: 0 0 41px 0;
    color: var(--text-color);
    font-family: josefin sans;
}

.contact_left p {
    font-size: 1.5vw;
    color: var(--text2-color);
    font-family: Arial, Helvetica, sans-serif;
}

.contact_right {
    height: 75vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #000;
    color: white;
    position: relative;
}

.contactBox {
    width: 80%;
}

.contact_right h2 {
    font-size: 2.8rem;
}

.contact_right h1 {
    font-size: 3.2rem;
    color: #ff8833;
}

.attach-line1 {
    position: absolute;
    right: -200px;
    font-size: 7.4rem !important;
    transform: rotate(-90deg);
    color: #70707098 !important;
    overflow: hidden;
}


form {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.names {
    width: 100%;
    display: flex;
    gap: 20px;
}

.names input {
    width: inherit;
}

input,
select,
textarea {
    padding: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: 0px 0px 6px inset;
    color: grey;
    border-radius: 5px;
    width: 100%;
}

option {
    font-size: 1.2rem;
}

::placeholder {
    font-size: 1.2rem;
}

#form_btn {
    padding: 10px 22px;
    font-size: 1vw;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    display: block;
    width: 30%;
    cursor: pointer;
    transition: .2s all linear;
    box-shadow: none;
}

#form_btn:hover {
    color: var(--text2-color);
    background-color: var(--text-color);
}

@media (max-width:923px) {
    .contact_left {
        justify-content: start;
    }

    .contact_box {
        gap: 1px;
    }

    ::placeholder {
        font-size: 1rem;
    }
    .contact_box {
        width: 100%;
    }
}

@media (max-width:852px) {
    #form_btn {
        font-size: .9rem;
        width: 41%;
    }

    ::placeholder {
        font-size: .9rem;
    }

    form {
        width: 88%;
    }

    .contact_left h1 {
        font-size: 3.7vw;
    }
}

@media (max-width:730px) {
    .contact_right {
        width: 53%;
        height: 68vh;
    }

    .contact_box {
        width: 95%;
    }

    .contact_left p {
        font-size: 2.6vw;
    }
    .contact_right h2 {
        font-size: 2.5rem;
    }
    .contact_right h1 {
        font-size: 3rem;
    }
    .contact {
        width: 100%;
        min-height: 70vh;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
    }
}

@media (max-width:612px) {
    .contact_left h1 {
        padding: 65px 0 36px 0;
    }

    .contact_box {
        margin-top: 58px;
    }

    ::placeholder {
        font-size: .8rem;
    }

    #form_btn {
        font-size: .8rem;
        width: 45%;
    }
}

@media (max-width:570px) {
    .contact_box {
        flex-direction: column;
    }

    .contact_left {
        width: 96%;
        text-align: center;
        flex-direction: column;
    }

    .contact_left h1 {
        padding: 65px 0 21px 0;
        font-size: 7.7vw;
    }

    .contact_right {
        width: 97%;
        margin-top: 36px;
        margin-bottom: 20px;
    }

    .contact_left p {
        font-size: 3.6vw;
    }
    .contact_box {
        margin-top: 0px;
    }
}

@media (max-width:420px) {
    .contact_left h1 {
        font-size: 7vw;
        padding: 0px 0 21px 0;
    }

    .contact_left p {
        font-size: 4.4vw;
    }

    ::placeholder {
        font-size: 1rem;
    }

    #form_btn {
        font-size: 1rem;
        width: 99%;
    }
}

@media (max-width:340px) {
    ::placeholder {
        font-size: .9rem;
    }

    #form_btn {
        font-size: .9rem;
        width: 99%;
    }
}

/* Contact section end */

/* *********Blog 2************* */
.blog2-sec3{
    min-height: 52vh;
    width: 100%;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
.blog2-box, .blog2-sec5-box{
    min-height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 52px 0;
    align-items: center;
    margin-bottom: 30px;
}
.blog2-box h1{
    font-size: 1.3rem;
    color: #ff8844;
    font-family: 'Josefin Sans', sans-serif;
}

.blog2-box p{
    font-size: 1.1rem;
    color: #fff;
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.blog2-box #h1{
    width: 100%;
}

#HE1 {
    font-size: 2.3rem;
}

/* *******Blog2-Sec4************* */

.blog2-sec4, .blog2-sec5{
    min-height: 100vh;
    width: 100%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog2-sec4-box{
    align-items: flex-start;
}
.blog2-sec4-box h2{
    font-size: 1.3rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #f4a660;
}
/* *********Blog2-sec5************** */
.blog2-sec5{
    min-height: 69vh;
    gap: 20px;

}
.blog2-sec5-box{
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    min-height: 62%;
}
.blog-sec5-left{
    width: 55%;
    height: 100%;
}
.blog-sec5-left h1{
    font-size: 1.5rem;
    color: #ff8844;
    font-family: 'Josefin Sans', sans-serif;
}
.blog-sec5-left p{
    padding-top: 10px;
    font-size: 1.1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.blog-sec5-right {
    width: 30%;
    height: 100%;
    padding-right: 30px;
}
/* ********Blog2-sec6************ */

.blog2-sec6{
    height: 140vh;
    width: 100%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.line-box{
    width: 90%;
    min-height: 23vh;
    padding: 20px 0 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.line-box img{
    width: 10%;
    height: auto;
}
.line-box p{
    font-size: .9rem;
    width: 90%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.line-box span{
    color: #ff8844;
}
.line-box:nth-child(1), .line-box:nth-child(3),.line-box:nth-child(5){
    background-color: #000;
    box-shadow: 0 0 3px #E8E8E8;
}

/* ************Blog2-sec7************** */

.blog2-sec7{
    min-height: 110vh;
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.blog2-sec7-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
}
.blog2-sec7-box h1{
    font-weight: 400;
    font-size: 1.5rem;
    color: #ff8844;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width: 65%;
    padding: 30px 0;
}
#span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 30px 0 30px 5px;
    gap: 20px;
    background-color: #000;
    box-shadow: 0 0 5px #E8E8E8;
}
#span h4{
 font-size: 1.6rem;
 color: #ff8844;
 font-family: 'Josefin Sans', sans-serif;
}
#span p{
    font-size: 1.1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#span p span{
    color: #ff8844;
}

.blog2-sec7 img{
    padding-top: 50px;
    width: 65%;
    height: 60%;
}

/* **********blog2-sec8**************** */

.blog2-sec8{
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: left;
    
}
.block2sec5{
min-height: 94vh;
}
.block2sec5 p span{
    font-size: 1.5rem;
}

/* ************Blog3************** */
/* .blog3-sec2{
    min-height: 45vh;
} */
pre{
    color: #fff;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.blog3-sec6{
    min-height: 70vh;
}
.blog3-sec6 .sec6-box2 {
    min-height: 58vh;
}
.sec6h2, .sec6p, .sec6pre{
    text-align: start;
}
.sec6-h2{
    text-align: end;
    padding-bottom: 30px;
}
.sec6h2, .sec6-h2{
    font-size: 1.4rem;
    color: #ff8844;
    font-family: 'Josefin Sans', sans-serif;
}
.blog3-sec5{
    min-height: 63vh;
}
.blog3-sec5 .sec5-box2 {
    min-height: 36vh;
}
.blog3-sec5-left{
    width: 77%;
}

/* ****************************** */

.blog3-section{
    height: 84vh;
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.blog3-section-box{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 98%;
}
.blog3-section-boxs{
    background-color: #000;
    min-height: inherit;
    width: 48%;
    box-shadow: 0 0 5px #E8E8E8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.blog3-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:130px;
}
.inside-left{
    width: 80%;
}
.inside-left h1{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff8844;
    padding-bottom: 39px;
}
.inside-left p{
    font-size: 1rem;
    color: #fff;
    padding-right: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}
.inside-right{
  width: 30%;
}
.blog3-section-boxs #para-blog{
    font-size: 1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
.blog3-section-boxs span{
    font-size: 1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.blog3-section-right{
    text-align: end;
}
.conclusion{
    width: 100%;
    background-color: #171717;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}
.conclusion p{
    font-size: 1.1rem;
    width: 90%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.conclusion p span{
    font-size: 1.5rem;
    color: #ff8844;
    font-family: 'Josefin Sans', sans-serif;
}
.rightimg {
    width: 19%;
}
@media (max-width:1255px) {
    .blog-sec1 h2 {
        right: -109px;
    }
    .sec3-right img {
        height: 334px;
        width: 353px;
    }
    .sec3-left {
        width: 73%;
    }
}
@media (max-width:1172px){
    .sec4-boxs {
        padding: 11px;
    }
    .sec4-boxs p {
        font-size: .9rem;
    }
    .sec4-boxs img {
        height: 73px;
        width: 102px;
    }
    .sec5 {
        min-height: 40vh;
        padding-right: 19px;
    }
    .sec5-left{
        width: 68%;
    }
    .blog-sec5{
        gap: 20px;
    }
    .blog-sec5-left {
        width: 63%;
    }
    .blog2-sec5-box {
        padding: 41px 0;
        margin-bottom: -8px;
    }
}
@media (max-width: 1060px){
    .blog-sec1 h2 {
        right: -88px;
    }
    .sec3-right {
        width: 49%;
    }
    .sec3-box1 p, .sec4-box1 p, .sec5-box1 p, .sec6-box1 p {
        font-size: 1rem;
    }
    .sec3-left h2 {
        font-size: 1rem;
    }
    .sec3-left p {
        font-size: 1rem;
    }
    .sec3-left {
        width: 68%;
    }
    .sec3-right {
        width: 39%;
    }
    .sec5-left p, .sec6-right p {
        font-size: 1rem;
        padding-top: 10px;
    }
    .blog2-sec7-box h1 {
        width: 82%;
    }
}
@media (max-width:1001px) {
    .blog3-section-boxs {
        padding: 15px;
    }
    .inside-left h1 {
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #ff8844;
        padding-bottom: 15px;
    }
    .inside-left p {
        font-size: .9rem;
    }
    .blog3-section-boxs #para-blog {
        font-size: .9rem;
    }
    .blog3-section-boxs span {
        font-size: .9rem;
    }
}
@media (max-width:951px) {
    .blog-sec5{
        min-height: 111vh;
    }
    .blog-logo2 {
        height: 78px;
        width: 105px;
    }
    .imgs {
        height: 50%;
    }
    .post-box {
        width: 28%;
    }
    .blog-sec5-right {
        width: 39%;
        padding-right: 8px;
    }
    .right-sec5 {
        width: 41%;
    }
    .right-sec6 img{
        width: 133% !important;
    } 
    .sec5-left {
        width: 63%;
    }
}
@media (max-width:890px) {
    .sec1-main-img {
        width: 57%;
    }
    .blog-sec1 h2 {
        right: -69px;
    }
    .secBox1 p {
        font-size: 1rem;
    }
    .secBox1 h3 {
        font-size: 2.7vw;
    }
    .secBox1 h3 span{
        font-size: 3.7vw;
    }
    .sec2-para {
        font-size: 1rem;
    }
    .sec4-boxs {
        padding: 18px;
        flex-direction: column;
        text-align: center;
        width: 43vw;
    }
    .sec5-box2{
        gap: 45px;
    }
    .post-box {
        height: 49vh;
    }
     .sec6-box2 {
        min-height: 58vh;
        gap: 20px;
    }
    .rightimg {
        width: 28%;
    }
    .blog3-5sec{
        min-height: 73vh;
    }
    .section3{
        min-height: 75vh !important;
    }
    .section3 img{
            width: 104%;
    }
}
@media (max-width:831px) {
    .sec3-right {
        width: 51%;
    }
    .sec3-left {
        width: 61%;
    }
    .sec3-box2 {
        gap: 51px;
    }
    .blog-logo2 {
        height: 60px;
        width: 87px;
    }
    .line-box {
        padding: 20px;
    }
    .line-box img {
        width: 20%;
        height: auto;
    }
    .blog2-box {
        margin-bottom: 0;
    }
    .blog2-sec6 {
        height: 155vh;
    }
    .blog2-sec7 img {
        width: 51%;
    }
}
@media (max-width:805px) {
    .secBox2 {
        flex-direction: column;
    }
    .sec2-box img {
        height: 78px;
        width: 125px;
        padding: 0 15px;
    }
    #show1{
        display: none;
    }
    .secBox1, .secBox2 {
        min-height: 20vh;
    }
    #hide1{
        display: block;
    }
    #hide1 span{
        padding:  0 10px;
    }
    .secBox2 input {
        padding: 14px 15px;
        width: 87%;
    }
    .blog-sec3 {
        min-height: 109vh;
    }
    .blog-sec4{
        min-height: 164vh;
    }
}
@media (max-width:760px) {
    .sec4-boxs {
        padding: 18px;
        flex-direction: column;
        text-align: center;
    }
    .blog-sec4{
        min-height: 169vh;
    }
    .sec5-box2, .sec6-box2 {
        flex-direction: column;
        gap: 20px;
    }
    .sec5-left, .sec6-right {
        width: 100%;
    }
    .blog-logo2 {
        height: 79px;
        width: 118px;
    }
    .sec5-box2{
        gap: 47px;
    }
    .post-box {
        height: 45vh;
    }
    .recent-post h2 {
        font-size: 2rem;
    }
    .blog-sec5 {
    min-height: 92vh;
}
.blog3-sec6 {
    min-height: 80vh;
}
.sec6h2, .sec6p, .sec6pre {
    text-align: start;
}
.right-sec6 img{
    width: 146% !important;
}      
.blog3-5sec {
    min-height: 89vh;
}
.blog3-section-box {
    flex-direction: column;
    gap: 10px;
}
.blog3-section-boxs {
    width: 100%;
}
.blog3-section {
    height: 127vh;
}
.blog3-section-boxs {
    min-height: 61vh;
}
.inside-right {
    width: 24%;
}
.section3 img{
    width: 52%;
}
.section3 {
    min-height: 101vh !important;
}
.conclusion p {
    font-size: 1rem;
}
.conclusion p span {
    font-size: 1.3rem;
}
}
@media (max-width:700px) {
    .sec1-main-img {
        height: 49vh;
        width: 47%;
    }
    .blog-sec3{
        min-height: 116vh;
    }
    .blog-sec1 h2 {
        right: -53px;
    }
    .sec1-img1 {
        top: -76px;
        left: -88px;
        height: 138px;
        width: 150px;
        transform: rotate(13deg);
    }
    .sec1-img3 {
        transform: rotate(192deg);
        position: absolute;
        height: 138px;
        width: 150px;
        bottom: -76px;
        right: -88px;
        z-index: 0;
    }
    .blog-sec1 h1 {
        font-size: 3.4vw;
    }
    .blog-sec4{
        min-height: 172vh;
    }
    .blog-sec5 {
        min-height: 120vh;
    }
    .sec5-blog{
            min-height: 100vh !important;
    }
    .post-box {
        width: 31%;
    }
    .post-box h3 {
        font-size: .9rem;
    }
    .post-box p {
        font-size: .8rem;
    }
    .blog3-5sec {
        min-height: 95vh;
    }
    .rightimg {
        width: 42%;
    }
    .blog-sec1{
        min-height: 84vh;
    }
    
}
@media (max-width:650px) {
    .blog2-sec5-box {
        flex-direction: column;
        gap: 23px;
    }
    .blog-sec5-left {
        width: 90%;
    }
    .right-sec5 {
        width: 55%;
    }
}
@media (max-width:616px) {
    #show1{
        display: block;
        text-align: center;
    }
    #hide1{
        display: none;
    }
    .secBox2 h1 {
        font-size: 3.3vw;
    }
    .secBox2 h1 span {
        font-size: 3.9vw;
    }
    .blog-sec4 {
        min-height: 183vh;
    }
    .blog-sec3 {
        min-height: 119vh;
    }
    .blog-sec3 {
        min-height: 136vh;
    }
    .line-box p {
        font-size: .8rem;
    }

}
@media (max-width:560px) {
    .blog-sec1 h2 {
        right: -224px;
        top: 158px;
        font-size: 7vw;
    }
    .sec1-main-img {
        height: 41vh;
    }
    .sec2-box {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .secBox1, .secBox2 {
        width: 94%;
    }
    .blog-sec2 {
        min-height: 13vh;
        text-align: center;
    }
    #show1{
        display: none;
    }
    #hide1{
        display: block;
    }
    .secBox1, .secBox2 {
        min-height: 17vh;
    }
    .sec2-para {
        text-align: center;
    }
    .secBox1, .secBox2 {
        align-items: center;
        text-align: center;
    }
    .secBox2 h1 {
        font-size: 5.3vw;
    }
    .secBox2 h1 span{
        font-size: 6vw;
    }
    .secBox1 h3 {
        font-size: 6.7vw;
    }
    .secBox1 h3 span{
        font-size: 7.3vw;
    }
    .sec3-box1, .sec4-box1, .sec5-box1, .sec6-box1 {
        width: 90%;
        text-align: center;
    }
    .sec3-box2 {
        flex-direction: column;
        text-align: center;
    }
    .sec3-left {
        width: 100%;
    }
    .sec3-left h2 {
        padding-bottom: 10px;
    }
    .sec3-right {
        width: 62%;
    }
    .sec4-box2 {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .sec4-boxs {
        width: 91vw;
    }
    .sec4-boxs {
        flex-direction: row;
        text-align: start;
    }
    .blog-sec5 , .blog-sec6{
        text-align: center;
        gap: 4px;
    }
    .sec6-box2 {
        text-align: center;
    }
    .sec5 {
        padding-right: 0px;
    }
    .posts {
        flex-direction: column;
    }
    .post-box {
        width: 95%;
        flex-direction: row;
        align-items: center;
        height: 23vh;
    }
    .imgs {
        height: 94%;
        width: 47%;
    }
    .recent-post {
        min-height: 95vh;
    }
    .blog2-sec4, .blog2-sec5 {
        text-align: center;
    }
    .blog2-sec4-box {
        align-items: center;
    }
    .blog-sec5-right {
        width: 70%;
        padding-right: 0;
       
    }
    .blog2-box h1 {
        font-size: 1.2rem;
    }
    .blog2-box p {
        font-size: 1rem;
    }
    .blog-sec5-left h1 {
        font-size: 1.2rem;
    }
    .blog-sec5-left p {
        font-size: 1rem;
    }
    .line-box p {
        font-size: .8rem;
    }
    .line-box {
        min-height: 47vh;
        flex-direction: column;
    }
    .blog2-sec6 {
        height: 246vh;
        text-align: center;
    }
    .line-box img {
        width: 32%;
    }
    .line-box {
        min-height: 40vh;
    }
    .blog2-sec7-box h1 {
        width: 98%;
    }
    #span {
        align-items: center;
        text-align: center;
    }
    #span h4 {
        font-size: 1.2rem;
        text-align: center;
    width: 90%;
    }
    #span p {
        font-size: 1rem;
        width: 90%;
    }
    .blog2-sec7 img {
        width: 69%;
    }
    .blog2-sec8 {
        text-align: center;
        padding: 10px 0;
    }
    .sec6h2, .sec6p, .sec6pre {
        text-align: center;
    }
    .right-sec6 {
        width: 44%;
    }
    .sec6-h2 {
        text-align: center;
    }
    .blog3-inside {
        gap: 20px;
    }
    .inside-right {
        width: 33%;
    }
    .conclusion p {
        text-align: center;
    }
    .sec1-main-img {
        height: 44vh;
        width: 47%;
    }
}
@media (max-width:530px) {
    .blog3-section {
        height: 136vh;
    }
    .blog3-section-boxs {
        min-height: 66vh;
    }
}
@media (max-width:470px) {
    .sec5-blog {
        min-height: 105vh !important;
    }
    .blog-logo2 {
        height: 68px;
        width: 93px;
    }
    .blog-sec1 h2 {
        right: -161px;
        
    }
    .imgs {
        height: 94%;
        width: 83%;
    }
    .sec1-img1 {
        top: -67px;
        left: -74px;
        height: 124px;
        width: 131px;
        transform: rotate(17deg);
    }
    .sec1-img3 {
        bottom: -67px;
        right: -74px;
        height: 124px;
        width: 131px;
    }
    .blog-sec1 {
        min-height: 70vh;
    }
    .sec1-main-img {
        height: 35vh;
        width: 53%;
    }
    .blog3-section {
        height: 152vh;
    }
    .blog3-section-boxs {
        min-height: 74vh;
    }
}
@media (max-width:403px) {
    .inside-left p,.blog3-section-boxs #para-blog ,.blog3-section-boxs span{
        font-size: .85rem;
    }
}
@media (max-width:392px) {
    .blog-sec4 {
        min-height: 276vh;
    }
    .sec4-box1 h2{
        font-size: 1.3rem;
    }
    .blog-sec3 {
        min-height: 172vh;
    }
    .sec4-boxs {
        flex-direction: column;
        text-align: center;
    }
    .sec5-blog {
        min-height: 120vh !important;
    }
    .sec1-main-img {
        height: 34vh;
    }
    .line-box p {
        width: 100%;
    }
}