@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    max-height: 900vh;
}
.preloader {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: 110000;
    position: fixed;
    place-items: center;
    display: grid;
}

.loader {
    height: 200px;
    width: 200px;
}


.main_content {
    width: 100%;
    height: 100vh;
    background-color: #171717;
    background-image: url(../imgs/privacy.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    padding-left: 71px;
    padding-top: 95px;
}

.left p {
    color: rgba(172, 171, 171, 0.788);
    font-size: 4.2rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-90deg);
    line-height: 1;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.right h1 {
    font-weight: 800;
    font-size: 12vw;
    color: #F4A660;
    font-family: Arial, Helvetica, sans-serif;
}

.section_two {
    width: 100%;
    height: 69vh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.whole_box {
    display: none;
}

.inside_div {
    height: 30vh;
    width: 100%;
    /* background-color: #1717; */
    margin: 10px;
    display: flex;
    gap: 3%;
}

.blog_div {
    height: 100%;
    width: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.blog_left {
    color: #fff;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.blog_left .blog-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F4A660;

}

.blog-left p {
    font-size: 1.2rem;
}

.blog_left .inside_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 30px;
}

.inside_btn button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.1rem;
}

.inside_btn button img {
    height: 18px;
    width: 25px;
}

.blog_right {
    height: 100%;
    width: 35%;
    background-color: #F4A660;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .blog_right img {
    height: 100%;
    width: 100%;
} */

.details_para {
    background-color: #171717;
    background-image: url(imgs/privacy.png);
    width: 100%;
    height: 60vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.details_para .headings {
    text-align: center;
    color: #FF8833;
    width: 100%;
    background-color: #ff88338a;
    font-size: 1.5rem;
    padding: 20px 0;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.details_para p {
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    width: 80%;
    padding: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:1231px) {
    .inside_div {
        height: 32vh;
    }
}

@media (max-width: 1085px) {
    .inside_div {
        height: 30vh;
    }

    .blog_left {
        gap: 14px;
        width: 58%;
    }

    .blog_right {
        width: 37%;
        height: 90%;
        padding-top: 10px;
    }

    .inside_btn button img {
        height: 13px;
        width: 23px;
    }

    .blog_right img {
        height: 91%;
        width: 100%;
    }

    .blog_left .blog-logo {
        font-size: 1.3rem;
    }

    p {
        font-size: .9rem;
    }

    .inside_btn button {
        font-size: .9rem;
    }
}


@media (max-width:1000px) {
    .details_para .headings {
        font-size: 1rem;
        padding: 20px 54px;
    }

    .details_para p {
        font-size: 1rem;
    }
}

@media (max-width: 830px) {
    .section_two {
        height: 63vh;
    }

    .blog_left {
        gap: 9px;
    }

    .blog_right img {
        height: 85%;
    }

    .inside_btn button {
        font-size: .8rem;
    }

    .inside_div {
        height: 27vh;
    }

    .blog_left .blog-logo {
        font-size: 1.4rem;
    }

    p {
        font-size: .8rem;
    }
}

@media (max-width:800px) {
    .left {
        padding-left: 88px;
    }

    .left p {
        font-size: 3.6rem;
    }

    .blog_right img {
        height: 79%;
    }

    .blog_right {
        padding-top: 25px;
        height: 100%;
    }

    .blog_div {
        height: 111%;
        width: 74%;
        background-color: #000;
    }

    .right-side {
        margin-bottom: 22px;
    }

    .inside_div {
        display: none;
    }

    .whole_box {
        display: block;
    }

    .section_two {
        height: 120vh;
        padding: 20px 0;
    }

    .upper_left,
    .img-left,
    .lower_left {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .upper_right,
    .img-right,
    .lower_right {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .blog_left .blog-logo {
        font-size: 1.2rem;
    }

    p {
        font-size: .9rem;
    }

    .inside_btn button {
        font-size: 1rem;
    }

    .right-side {
        display: flex;
        justify-content: end;
    }

    .blog_left {
        gap: 17px;
    }
}

@media (max-width:760px) {

    .inside_div {
        height: 50vh;
    }
}
@media (max-width:675px) {
    
    .details_para {
        height: 54vh;
    }
    .section_two {
        height: 122vh;
    }
}

@media (max-width: 650px) {
    .blog_left {
        gap: 11px;
    }

    .blog_div {
        width: 77%;
    }
}

@media (max-width: 600px) {
    .main_content {
        height: 77vh;
    }

    .left p {
        font-size: 2.6rem;
    }

    .left {
        padding-left: 60px;
        padding-top: 68px;
    }
    .section_two {
        height: 114vh;
        padding: 43px 0;
    }
}

@media (max-width: 545px) {
    p {
        font-size: .85rem;
    }

    .inside_btn button {
        font-size: .9rem;
    }
}

@media (max-width:500px) {
    .right h1 {
        font-size: 18vw;
    }
    .left {
        padding-left: 34px;
    }

    .blog_div {
        width: 90%;
    }

    .main_content {
        overflow: hidden;
        height: 66vh;
    }
}

@media (max-width: 420px) {
    .left p {
        font-size: 1.7rem;
    }

    .main_content {
        /* flex-direction: row-reverse; */
        overflow: hidden;
    }

    .left {
        padding-left: 76px;
        padding-top: 68px;
    }
    .section_two {
        height: 120vh;
        padding: 43px 0;
    }
}

@media (max-width: 400px) {
    p {
        font-size: .8rem;
    }

    .blog_left .blog-logo {
        font-size: 1.1rem;
    }

    .blog_left {
        gap: 9px;
    }

    .blog_right {
        width: 42%;
        height: 100%;
        padding-top: 10px;
    }
    .section_two {
        height: 110vh;
        padding: 43px 0;
    }

}
    @media (max-width: 340px) {
        .blog_div {
            width: 93%;
        }
    }


/* Contact section start */

.contact {
width: 100%;
min-height: 80vh;
background-color: var(--primary-color);
display: flex;
justify-content: center;
align-items: center;
font-family: 'Josefin Sans', sans-serif;
}

.contact_box {
display: flex;
justify-content: center;
align-items: center;
width: 93%;
height: 75%;
gap: 43px;
}

.contact_left {
width: 50%;
height: 100%;
display: flex;
justify-content: start;
flex-direction: column;

}

.contact_left h1 {
font-size: 4.2vw;
font-weight: 900;
padding: 0 0 41px 0;
color: var(--text-color);
font-family: josefin sans;
}

.contact_left p {
font-size: 1.5vw;
color: var(--text2-color);
font-family: Arial, Helvetica, sans-serif;
}

.contact_right {
height: 75vh;
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
background-color: #000;
color: white;
position: relative;
}

.contactBox {
width: 80%;
}

.contact_right h2 {
font-size: 2.8rem;
}

.contact_right h1 {
font-size: 3.2rem;
color: #ff8833;
}

.attach-line1 {
position: absolute;
right: -200px;
font-size: 7.4rem !important;
transform: rotate(-90deg);
color: #70707098 !important;
overflow: hidden;
}


form {
display: flex;
width: 80%;
flex-direction: column;
gap: 20px;
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
}

.names {
width: 100%;
display: flex;
gap: 20px;
}

.names input {
width: inherit;
}

input,
select,
textarea {
padding: 15px;
background-color: transparent;
border: none;
outline: none;
box-shadow: 0px 0px 6px inset;
color: grey;
border-radius: 5px;
width: 100%;
}

option {
font-size: 1.2rem;
}

::placeholder {
font-size: 1.2rem;
}

#form_btn {
padding: 10px 22px;
font-size: 1rem;
border: 3px solid var(--text-color);
color: var(--text-color);
display: block;
width: 30%;
cursor: pointer;
transition: .2s all linear;
box-shadow: none;
}

#form_btn:hover {
color: var(--text2-color);
background-color: var(--text-color);
}

@media (max-width:923px) {
.contact_left {
justify-content: start;
}

.contact_box {
gap: 1px;
}

::placeholder {
font-size: 1rem;
}
}

@media (max-width:852px) {
#form_btn {
font-size: .9rem;
width: 41%;
}

::placeholder {
font-size: .9rem;
}

form {
width: 88%;
}

.contact_left h1 {
font-size: 3.7vw;
}
}

@media (max-width:730px) {
.contact_right {
width: 53%;
}

.contact_box {
width: 95%;
}

.contact_left p {
font-size: 2.6vw;
}
}

@media (max-width:612px) {
.contact_left h1 {
padding: 65px 0 36px 0;
}

.contact_box {
margin-top: 58px;
}

::placeholder {
font-size: .8rem;
}

#form_btn {
font-size: .8rem;
width: 45%;
}
}

@media (max-width:570px) {
.contact_box {
flex-direction: column;
}

.contact_left {
width: 96%;
text-align: center;
flex-direction: column;
}

.contact_left h1 {
padding: 65px 0 21px 0;
font-size: 7.7vw;
}

.contact_right {
width: 97%;
margin-top: 36px;
margin-bottom: 20px;
}
.contact_left p {
font-size: 3.6vw;
}
}

@media (max-width:420px) {
.contact_left h1 {
font-size: 5vw;
padding: 0px 0 21px 0;
}

.contact_left p {
font-size: 3.4vw;
}

::placeholder {
font-size: 1rem;
}

#form_btn {
font-size: 1rem;
width: 99%;
}
}
@media (max-width:390px) {
    .contact_left h1 {
        font-size: 9vw;
    }
}

@media (max-width:340px) {
::placeholder {
font-size: .9rem;
}

#form_btn {
font-size: .9rem;
width: 99%;
}
.contact_left p {
    font-size: 3.9vw;
}
}

/* Contact section end */