@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --main: #ff8833;
  --sub-color: #f4a660;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}

body {
  max-height: 900vh;
}

.preloader {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: 110000;
  position: fixed;
  place-items: center;
  display: grid;
}

.loader {
  height: 200px;
  width: 200px;
}

:root {
  --primary-color: #171717;
  --text-color: #ff8833;
  --text2-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(44, 35, 35);
}

::-webkit-scrollbar-thumb:hover {
  background: #545454;
  border-radius: 8px;
}

/* home page start */

.fixed_line {
  text-align: center;
  background-color: #ff8833;
  padding: 10px 30px;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.fixed_line.scroll {
  top: -50px;
  transition: .4s ease-in-out linear;
}

#phn-tag,
#mail-tag {
  color: #000;
  display: flex;
  align-items: flex-end;
}

.fixed_line h1 .bx {
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
}

.mail-icon {
  display: none !important;
}

#phn-tag:hover,
#mail-tag:hover {
  color: red;
}

.contact-box {
  display: flex;
  gap: 5px;
}


.navbar.scroll {
  top: 0;
  transition: .4s ease-in-out linear;
}

.fixed_line h1 {
  font-size: 1.3rem;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  align-items: end;
  gap: 2px;
}

.navbar {
  position: fixed;
  top: 32px;
  left: 0;
  right: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 50px;
  z-index: 9999;
}

.navbar.sticky {
  top: 0;
  box-shadow: 0px 0px 5px #606060;
  background-color: #000;
  /* padding: 10px 40px; */
  transition: .1s all ease-in-out;
}

.left-bar.sticky {
  z-index: 4;
  height: 100.5vh;
  opacity: 1;
  bottom: 0px;
}

.navbar .logo a,
.left-bar .logo a {
  font-size: 3rem;
  font-weight: 900;
  color: #ff8833;
  z-index: 1999999;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar svg {
  width: 22% !important;

}

.btn_box {
  height: 2.5rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s all linear;
  /* position: absolute; */
  z-index: 999999;
  right: 10px;
}

.menu,
.close {
  background-color: transparent;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  font-family: 'Josefin Sans', sans-serif;
}

.menu:active {
  color: #ff8833;
}

.close {
  top: 58px;
  right: 56px;
}

.close:active {
  color: #000;
}

/* .menu:hover::after .close:hover::after {
  width: 8%;
} */

.full_screen_bar {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: -1000px;
  z-index: 3;
  transition: .6s all linear;
  z-index: 9999;
}

.close_hide {
  display: none;
}

.menu_hide_box {
  display: none;
}

.inside_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-bar {
  height: 100vh;
  width: 66%;
  background-color: #000;
  z-index: 4;
  transition: .7s all linear;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 47px;
  opacity: 1;
  position: absolute;
  bottom: -500vh;
}

.detailBox h3 {
  color: #ff8833;
  padding: 5px 0;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.detailBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  gap: 200px;
  opacity: 1;
}

.details_inside {
  margin: 83px 0 0 20px;
}

.logo3 .logo1 svg {
  width: 56% !important;
  padding-top: 10px;
}

.logo3 {
  position: absolute;
  width: 53%;
}

.detailBox ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detailBox ul li a {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.detailBox_left h3 {
  color: #ff8833;
  padding: 5px;
}

.detailBox_left {
  height: 69%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 40px;
  width: 62%;
  text-align: left;

}

.detailBox_left ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detailBox_left ul li a {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.right-bar {
  height: 92vh;
  z-index: 4;
  width: 40%;
  background-color: #ff8833;
  position: absolute;
  right: 0;
  text-align: end;
  transition: .8s all linear;
  position: absolute;
  top: -200vh;

}

.btn_box1 {
  padding-top: 24px;
  width: 93%;
}

.right-bar.active_bar {
  height: 100vh;
  z-index: 6;
  display: block;
  top: -62px;
}


.left-bar.active_bar {
  z-index: 4;
  height: 100vh;
  opacity: 1;
  bottom: 62px;
}

.full_screen_bar.active_bar {
  top: 61px;
}

@media (max-width:1100px) {

  .menu,
  .close {
      font-size: 3.3rem;
  }

  .navbar svg {
      width: 33% !important;
  }

  /* .left-bar.active_bar {
      height: 96.5vh;
  } */

}

@media (max-width:1011px) {
  .left-bar {
      padding-left: 0px;
  }

  .logo3 {
      padding-left: 41px;
  }

  .navbar svg {
      width: 30% !important;
  }

  .detailBox {
      gap: 127px;
  }

  .detailBox ul li a {
    font-size: 2rem;
}

  .detailBox_left ul li a {
      font-size: 2.3rem;
  }

  .logo3 .logo1 svg {
      width: 60% !important;
      padding-top: 10px;
  }
}

@media (max-width:940px) {

  .menu,
  .close {
      font-size: 3.2rem;
  }
}

@media (max-width:880px) {
  .logo3 {
      width: 75%;
  }
}

@media (max-width:780px) {
  .navbar svg {
      width: 36% !important;
  }

  .navbar {
      padding: 10px 30px;
      top: 31px;
  }

  .menu,
  .close {
      font-size: 3rem;
  }

  .fixed_line {
      padding: 9px;
  }

  .details_inside {
      margin: 69px 0 0 20px;
  }

  .detailBox {
      gap: 83px;
  }
}

@media (max-width:686px) {
  .logo3 .logo1 svg {
      width: 73% !important;
  }

  .details_inside {
      margin: 69px 0 0 1px;
  }

  .detailBox ul li a {
      font-size: 1.7rem;
  }

  .menu,
  .close {
      font-size: 2.8rem;
  }
  .right-bar.active_bar {
    height: 101vh;
}

  .detailBox_left ul li a {
      font-size: 2.2rem;
  }

  .navbar {
      padding: 3px 30px;
      top: 30px;
  }
}

@media (max-width:600px) {
  .mail-icon {
      display: block !important;
  }

  .mail-icon1 {
      display: none !important;
  }

  #phn-tag span {
      display: none;
  }

  .fixed_line {
      flex-direction: row-reverse;
  }
}

@media (max-width:566px) {
  .navbar svg {
      width: 49% !important;
  }

  .navbar {
      padding: 4px 16px;
      top: 25px;
  }

  .btn_box {
      height: 2.5rem;
      width: 8rem;
      display: flex;
      justify-content: center;
      margin-top: 4px;
      align-items: center;
      transition: .2s all linear;
  }

  .btn_box1 {
      padding-top: 21px;
      width: 90%;
  }

  .logo3 {
      padding-left: 17px;
  }

  .logo3 .logo1 svg {
      width: 70% !important;
  }

  .fixed_line h1 {
      font-size: 1.1rem;
      color: #000;
      font-family: 'Josefin Sans', sans-serif;
  }
}

@media (max-width: 490px) {
  .detailBox {
      gap: 14px;
  }

  .navbar {
      padding: 3px 30px;
      top: 26px;
  }
}

@media (max-width:470px) {
  .detailBox {
      flex-direction: column;
      padding: 13px 20px;
  }
  .detailBox ul {
      gap: 12px;
  }

  .details_inside {
      margin: 36px 0 0 1px;
  }
}

@media (max-width: 415px) {

  .navbar svg {
      width: 64% !important;
  }

  .navbar {
      padding: 3px 17px;
  }

  .navbar.sticky {
      padding: 10px 21px;
  }
}

@media (max-width:435px) {
  .detailBox_left {
      height: 37%;
      width: 100%;
  }
  .close_hide {
      display: block;
  }

  .menu_hide_box {
      display: block;
  }

  .right-bar.active_bar {
      display: none;
  }

  .left-bar {
      width: 100%;
  }

  .details_inside {
      margin: 0;
      margin-top: 70px;
  }

  .detailBox {
      margin: 0 0 0 10px;
      padding: 5px 17px;
      gap: 10px;
  }

  .detailBox ul {
      gap: 9px;
  }

  .detailBox_left ul {
      gap: 16px;
      flex-direction: row;
  }
  .detailBox_left ul li a {
      font-size: 2.2rem;
  }

  .menu_hide_box {
      background: #ff8833;
      width: 262%;
      height: 32vh;
  }

  .logo3 .logo1 svg {
      width: 62% !important;
  }

  .btn_box1 {
      width: 90%;
      padding-top: 16px;
      position: absolute;
      right: -272px;
  }

  .full_screen_bar.active_bar {
      /* left: -411px; */
      top: -25px;
      /* bottom: 0; */
  }

  .left-bar {
      top: -444px;
  }

  .left-bar.active_bar {
      left: 0;
      top: 22px;
  }
  .detailBox_left {
      height: 40%;
      width: 58%;
      padding: 20px;
      justify-content: start;
      align-items: flex-end;
  }
}

@media (max-width: 369px) {

  .btn_box1 {
      position: absolute;
      right: -233px;
  }

  .fixed_line h1 {
      font-size: 1rem;
  }

  .fixed_line h1 .bx {
      font-size: .8rem;
  }
}

@media (max-width: 337px) {

  .btn_box1 {
      position: absolute;
      right: -213px;
  }
}



/* header end */

/* Conatct */

html {
  font-size: 62.5%;
}
.contact {
  position: relative;
  height: 93vh;
  width: 100vw;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: url("../imgs/bg.png");
  margin-top: 50px;
  overflow: hidden;
}
section#home {
  overflow: hidden;
}

.contact .heading {
  color: var(--main);
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* .container-box {
  display: flex;
  flex-direction: column;
} */
.contact-container {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-container .contactInfo {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-container .contactInfo .box {
  width: 45%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.container .contactInfo .box:hover {
  background: var(--main);
  color: #fff;
}

.active {
  background: var(--main);
  color: #000;
}
.icon img {
  height: 34px;
}

.contact-container .contact-box {
  width: 60%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* edit */
  background: #000;
  border-radius: 25px;
  color: #fff;
  padding: 35px;
}

.main-heading {
  color: var(--main);
  text-transform: uppercase;
  font-size: 3rem;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 5px;
}
.bx {
  -webkit-font-smoothing: none !important;
}
.icon i {
  font-size: 32px;
}

.text {
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}

.formSection {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

form {
  height: 80%;
  margin-top: 10px;
}
.form-input {
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
}

input[type="text"],
[type="email"],
textarea {
  width: 27rem;
  height: 4.5rem;
  background: #707070;
  border: none;
  border-radius: 5px;
  padding: 6px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.input label {
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 1.3rem;
}
.inputSubmit {
  display: flex;
  flex-direction: row-reverse;
}

input[type="submit"] {
  background: transparent;
  border: 1px solid #ff8833;
  color: var(--main);
  width: 15rem;
  height: 3.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

textarea,
input:focus {
  border: none;
  outline: none;
  font-size: 1.2rem;
}

#submit:hover {
  background: var(--main);
  color: #000;
}

.address-text {
  margin-top: 5px;
  font-size: 1.5rem;
}
/* Social */
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

.icons {
  width: 40px;
  height: 40px;
  background: #ff8833;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: #000;
  cursor: pointer;
}
.icons a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons i {
  font-size: 20px;
}

.facebook:hover {
  color: blue;
}

.instagram:hover {
  color: #e11d74;
}

.twitter:hover {
  color: #00adb5;
}

.whatsapp:hover {
  color: #075e54;
}

.location {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
.address {
  width: 45%;
}
.map {
  border-radius: 25px;
  width: 60%;
}

.location-text {
  text-transform: uppercase;
  color: var(--main);
  font-size: 16px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #fff;
}
a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.2);
}

/* Media */
@media only screen and (max-width: 768px) {
  .contact {
    padding: 25px 50px;
    background-size: contain;
    height: 100vh;
    margin-top: 0px;
  }

  .contact-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .heading {
    font-size: 2rem;
  }

  .contact-container .contactInfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20%;
  }

  .contact-container .contactInfo .box {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
  }
  input[type="text"],
  [type="email"],
  textarea {
    /* width: 27rem; */
    height: 3.5rem;
  }
  .contact-container .contact-box {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #000;
    border-radius: 25px;
    color: #fff;
    padding: 15px 30px;
  }

  form {
    height: 100%;
  }
  .form-input {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main-heading {
    font-size: 2rem;
  }

  .formSection {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input[type="text"],
  [type="email"] {
    width: auto;
  }
  textarea {
    width: auto;
    height: 4rem;
  }

  .icons {
    width: 35px;
    height: 35px;
  }

  .icons i {
    font-size: 15px;
  }
  .map {
    border-radius: 25px;
    width: auto;
    height: 70%;
  }
  .location {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 0;
    height: 70%;
    /* align-items: center; */
  }
  iframe {
    height: 100%;
    width: 100%;
  }
  input[type="submit"] {
    background: transparent;
    border: 1px solid #ff8833;
    color: var(--main);
    width: 12rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
  }

  .address {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .contact .heading {
    color: var(--main);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .contact-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .contact-container .contactInfo {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-container .contactInfo .box {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
  }

  .contact-container .contact-box {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000;
    border-radius: 25px;
    color: #fff;
    padding: 10px 45px;
  }

  .main-heading {
    color: var(--main);
    text-transform: uppercase;
    font-size: 3rem;
  }

  .formSection {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  form {
    height: 100%;
    width: 100%;
  }

  .input label {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-size: 1.2rem;
  }

  .form-input {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .input {
    display: flex;
    flex-direction: column;
    /* margin-top: 5px; */
  }

  input[type="text"],
  [type="email"],
  textarea {
    width: 100%;
    height: 2.8rem;
    background: #707070;
    border: none;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  .inputSubmit {
    width: 25rem;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 951px) and (max-width: 1360px) {
  .contact {
    padding: 50px 70px;
  }

  .contact-container {
    width: 100%;
    height: 100%;
  }

  .contact-container .contact-box {
    width: 58%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000;
    border-radius: 25px;
    color: #fff;
    padding: 35px;
  }

  .contact-container .contactInfo .box {
    width: 54%;
    height: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
  }

  .formSection {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
  }
  .form-input {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  input[type="text"],
  [type="email"],
  textarea {
    width: 90%;
    height: 3rem;
    background: #707070;
    border: none;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
  }

  .inputSubmit {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
  }
}

@media only screen and (max-width: 568px) {
  .contact-container .contactInfo .box {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
  }
}

@media only screen and (max-width: 455px) {
  .contact {
    padding: 40px 15px;
    background-size: contain;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-container .contactInfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30%;
  }
  .container .contact-box {
    width: 100%;
  }

  .contact-container {
    width: 100%;
    height: 90%;
  }

  input[type="text"],
  [type="email"],
  textarea {
    height: 3.5rem;
  }

  .icon i {
    font-size: 22px;
  }
  .icon img {
    height: 22px;
  }
}

@media only screen and (max-width: 370px) {
  .contact-container .contactInfo .box {
    width: 50%;
    height: 70%;
  }

  .text {
    text-align: center;
    margin-top: 5px;
    text-transform: lowercase;
    font-size: 1.1rem;
  }
}
