@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    max-height: 900vh;
}

.preloader {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: 110000;
    position: fixed;
    place-items: center;
    display: grid;
}

.loader {
    height: 200px;
    width: 200px;
}

:root {
    --primary-color: #171717;
    --text-color: #FF8833;
    --text2-color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(44, 35, 35);
}

::-webkit-scrollbar-thumb:hover {
    background: #545454;
    border-radius: 8px;
}

/* home page start */

.fixed_line {
    text-align: center;
    background-color:  #171717;
    padding: 10px 30px;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .fixed_line h1{
    color: #fff;
    text-align: center;
    
} */


.fixed_line.scroll {
    top: -50px;
    transition: .4s ease-in-out linear;
}

#phn-tag,
#mail-tag {
    color: #000;
    display: flex;
    align-items: flex-end;
}

.fixed_line h1 .bx {
    color: #000;
    font-size: .9rem;
    text-decoration: none;
}

.mail-icon {
    display: none !important;
}

#phn-tag:hover,
#mail-tag:hover {
    color: red;
}

.contact-box {
    display: flex;
    gap: 5px;
}


.navbar.scroll {
    top: 0;
    transition: .4s ease-in-out linear;
}

.fixed_line h1 {
    font-size: .8rem;
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    gap: 2px;
}

.navbar {
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 50px;
    z-index: 9999;
}

.navbar.sticky {
    top: 0;
    box-shadow: 0px 0px 5px #606060;
    background-color: #000;
    /* padding: 10px 40px; */
    transition: .1s all ease-in-out;
}

.left-bar.sticky {
    z-index: 4;
    height: 100.5vh;
    opacity: 1;
    bottom: 0px;
}

.navbar .logo a,
.left-bar .logo a {
    font-size: 3rem;
    font-weight: 900;
    color: #ff8833;
    z-index: 1999999;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar svg {
    width: 22% !important;

}

.btn_box {
    height: 2.5rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all linear;
    /* position: absolute; */
    z-index: 999999;
    right: 10px;
}

.menu,
.close {
    background-color: transparent;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
    font-family: 'Josefin Sans', sans-serif;
}

.menu:active {
    color: #ff8833;
}

.close {
    top: 58px;
    right: 56px;
}

.close:active {
    color: #000;
}

/* .menu:hover::after .close:hover::after {
    width: 8%;
} */

.full_screen_bar {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: -1000px;
    z-index: 3;
    transition: .6s all linear;
    z-index: 9999;
}

.close_hide {
    display: none;
}

.menu_hide_box {
    display: none;
}

.inside_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bar {
    height: 100vh;
    width: 66%;
    background-color: #000;
    z-index: 4;
    transition: .7s all linear;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 47px;
    opacity: 1;
    position: absolute;
    bottom: -500vh;
}

.detailBox h3 {
    color: #ff8833;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.detailBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    gap: 200px;
    opacity: 1;
}

.details_inside {
    margin: 83px 0 0 20px;
}

.logo3 .logo1 svg {
    width: 56% !important;
    padding-top: 10px;
}

.logo3 {
    position: absolute;
    width: 53%;
}

.detailBox ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detailBox ul li a {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.detailBox_left h3 {
    color: #ff8833;
    padding: 5px;
}

.detailBox_left {
    height: 69%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px;
    width: 62%;
    text-align: left;

}

.detailBox_left ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detailBox_left ul li a {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.right-bar {
    height: 92vh;
    z-index: 4;
    width: 40%;
    background-color: #ff8833;
    position: absolute;
    right: 0;
    text-align: end;
    transition: .8s all linear;
    position: absolute;
    top: -200vh;

}

.btn_box1 {
    padding-top: 24px;
    width: 93%;
}

.right-bar.active_bar {
    height: 100vh;
    z-index: 6;
    display: block;
    top: -62px;
}


.left-bar.active_bar {
    z-index: 4;
    height: 100vh;
    opacity: 1;
    bottom: 62px;
}

.full_screen_bar.active_bar {
    top: 61px;
}

@media (max-width:1100px) {

    .menu,
    .close {
        font-size: 2.3rem;
    }

    .navbar svg {
        width: 33% !important;
    }

    /* .left-bar.active_bar {
        height: 96.5vh;
    } */

}

@media (max-width:1011px) {
    .left-bar {
        padding-left: 0px;
    }

    .logo3 {
        padding-left: 41px;
    }

    .navbar svg {
        width: 30% !important;
    }

    .detailBox {
        gap: 127px;
    }

    .detailBox ul li a {
        font-size: 1.3rem;
    }

    .detailBox_left ul li a {
        font-size: 1.3rem;
    }

    .logo3 .logo1 svg {
        width: 60% !important;
        padding-top: 10px;
    }
}

@media (max-width:940px) {

    .menu,
    .close {
        font-size: 2.2rem;
    }
}

@media (max-width:880px) {
    .logo3 {
        width: 75%;
    }
}

@media (max-width:780px) {
    .navbar svg {
        width: 36% !important;
    }

    .navbar {
        padding: 10px 30px;
        top: 32px;
    }

    .menu,
    .close {
        font-size: 2rem;
    }

    .fixed_line {
        padding: 9px;
    }

    .details_inside {
        margin: 69px 0 0 20px;
    }

    .detailBox {
        gap: 83px;
    }
}

@media (max-width:686px) {
    .logo3 .logo1 svg {
        width: 73% !important;
    }

    .details_inside {
        margin: 69px 0 0 1px;
    }

    .detailBox ul li a {
        font-size: 1.1rem;
    }

    .menu,
    .close {
        font-size: 1.8rem;
    }

    .detailBox_left ul li a {
        font-size: 1.2rem;
    }

    .navbar {
        padding: 3px 30px;
        top: 33px;
    }
}

@media (max-width:600px) {
    .mail-icon {
        display: block !important;
    }

    .mail-icon1 {
        display: none !important;
    }

    #phn-tag span {
        display: none;
    }

    .fixed_line {
        flex-direction: row-reverse;
    }
}

@media (max-width:566px) {
    .navbar svg {
        width: 49% !important;
    }

    .navbar {
        padding: 4px 16px;
        top: 25px;
    }

    .btn_box {
        height: 2.5rem;
        width: 8rem;
        display: flex;
        justify-content: center;
        margin-top: 4px;
        align-items: center;
        transition: .2s all linear;
    }

    .btn_box1 {
        padding-top: 21px;
        width: 90%;
    }

    .logo3 {
        padding-left: 17px;
    }

    .logo3 .logo1 svg {
        width: 70% !important;
    }

    .fixed_line h1 {
        font-size: .7rem;
        color: #000;
        font-family: 'Josefin Sans', sans-serif;
    }
}

@media (max-width: 490px) {
    .detailBox {
        gap: 14px;
    }

    .navbar {
        padding: 3px 30px;
        top: 26px;
    }
}

@media (max-width:470px) {
    .detailBox {
        flex-direction: column;
        padding: 13px 20px;
    }
    .detailBox ul {
        gap: 12px;
    }

    .details_inside {
        margin: 36px 0 0 1px;
    }
}

@media (max-width: 415px) {

    .navbar svg {
        width: 64% !important;
    }

    .navbar {
        padding: 3px 17px;
    }

    .navbar.sticky {
        padding: 10px 21px;
    }
}

@media (max-width:435px) {
    .detailBox_left {
        height: 37%;
        width: 100%;
    }
    .close_hide {
        display: block;
    }

    .menu_hide_box {
        display: block;
    }

    .right-bar.active_bar {
        display: none;
    }

    .left-bar {
        width: 100%;
    }

    .details_inside {
        margin: 0;
        margin-top: 70px;
    }

    .detailBox {
        margin: 0 0 0 10px;
        padding: 5px 17px;
        gap: 10px;
    }

    .detailBox ul {
        gap: 9px;
    }

    .detailBox_left ul {
        gap: 36px;
        flex-direction: row;
    }
    .detailBox_left ul li a {
        font-size: 2.2rem;
    }

    .menu_hide_box {
        background: #ff8833;
        width: 262%;
        height: 32vh;
    }

    .logo3 .logo1 svg {
        width: 62% !important;
    }

    .btn_box1 {
        width: 90%;
        padding-top: 16px;
        position: absolute;
        right: -272px;
    }

    .full_screen_bar.active_bar {
        /* left: -411px; */
        top: -25px;
        /* bottom: 0; */
    }

    .left-bar {
        top: -444px;
    }

    .left-bar.active_bar {
        left: 0;
        top: 22px;
    }
    .detailBox_left {
        height: 40%;
        width: 58%;
        padding: 20px;
        justify-content: start;
        align-items: flex-end;
    }
}

@media (max-width: 369px) {

    .btn_box1 {
        position: absolute;
        right: -233px;
    }

    .fixed_line h1 {
        font-size: .6rem;
    }

    .fixed_line h1 .bx {
        font-size: .8rem;
    }
}

@media (max-width: 337px) {

    .btn_box1 {
        position: absolute;
        right: -213px;
    }
}



/* header end */


/* footer start */
.footer {
    min-height: 50vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer_left {
    width: 40%;
    padding: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.footer_logo {
    width: 55%;
}

.footer_left p {
    font-size: 1.1vw;
    color: #fff;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_border {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-size: 1rem;
    color: #ff8833;
}

.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    padding: 20px 0 0 0;
}

.footer_right .icons {
    font-size: 2rem;
}

.footer_right ul {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.footer_right h1 {
    color: var(--text-color);
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_right li {
    padding: 10px 0;
    color: #fff;
}

.footer_right li a:hover {
    color: #ff8833;
}

.hide_bar {
    font-weight: bold;
    font-size: 1.2rem;

}

.footer_right li a {
    font-size: 1.1vw;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.div4 {
    display: none;
}

@media (max-width:1080px) {
    .footer_left p {
        font-size: 1.5vw;
    }

    .footer_right li a {
        font-size: 1.6vw;
    }
}

@media (max-width:880px) {
    .footer_left p {
        font-size: 1.9vw;
    }

    .footer_right h1 {
        font-size: 3.2vw;
    }

    .footer_right li a {
        font-size: 1.7vw;
    }

    .footer_right li p {
        font-size: 1rem;
    }
}

@media (max-width:720px) {
    .footer_logo {
        width: 84%;
    }

    .footer_left p {
        font-size: 2vw;
    }

    .footer_right {
        width: 49%;
    }

    .footer_right ul {
        gap: 2px;
    }

    .footer_right li a {
        font-size: 2vw;
    }
}

@media (max-width:680px) {
    .footer {
        padding: 10px;
    }

    .footer_left p {
        font-size: 2.4vw;
    }

    .footer_logo {
        width: 102%;
    }

    .footer_right {
        justify-content: space-around;
    }

    .footer_right li a {
        font-size: 2.1vw;
    }
    .detailBox_left .bx{
        transform: rotate(0deg);
    }
}

@media (max-width:540px) {
    .footer_box {
        flex-direction: column;
    }

    .footer_left {
        width: 100%;
        padding: 0;
    }

    .footer_logo {
        width: 61%;
    }

    .footer_left p {
        font-size: 3.3vw;
    }

    .footer_right {
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        text-align: start;
        gap: 10px;
    }

    .footer_right ul {
        flex-direction: column;
        gap: 2px;
    }

    .hide_bar {
        display: none;
    }

    .footer_right li a {
        font-size: 3vw;
    }

    .footer_right h1 {
        font-size: 3.4vw;
    }

    #li {
        flex-direction: row;
        justify-content: flex-start !important;
    }

    .footer_right #li .icons {
        font-size: 2rem;
    }
}

@media (max-width:445px) {
    .footer_right {
        gap: 17px;
    }
}

@media (max-width:400px) {
    .footer_left p {
        font-size: 3.9vw;
    }

    .footer_right {
        flex-wrap: wrap;
        gap: 17px;
    }

    .footer_right h1 {
        font-size: 3.9vw;
    }

    .footer_right li a {
        font-size: 3.8vw;
    }

    .div4 {
        display: block;
    }

    .div4 ul li a {
        color: transparent;
    }
}

/* footer end */
/* fixed footer */

.fixed_footer {
    padding: 15px 0;
    background-color: #171717;
    color: #707070;
    text-align: center;
}

.fixed_footer {
    font-family: Arial, Helvetica, sans-serif;
}

.fixed_footer a {
    color: #707070;
}

.fixed_footer a:hover {
    color: red;
}

/* fixed footer end */