:root {
  --orange: #ff8833;
  --white: #ffffff;
  --gray: grey;
  --darkgray: #70707068;
  --bgBlack: #171717;
  --black: black;
}

$font-family: "Roboto, sans-serif";
$orange: var(--orange);
$white: var(--white);
$gray: var(--gray);
$black: var(--black);
$dark-gray: var(--darkgray);
$bg-black: var(--bgBlack);
