@import "../../../common/styles/variables.scss";

.top-bar {
  h3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12.8px;
    min-height: 7vh;
    color: $orange;
    background-color: $bg-black;
  }
}
.menu-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding: 5px 30px;
  color: $white;
  background-color: $black;
  align-items: center;
  img {
    height: 25px;
  }
}
.menu-btn {
  display: flex;
  flex: row;
  // width: 20%;
  justify-content: space-between;
  align-items: center;
}
.appointment {
  padding: 10px 20px;
  color: $orange;
  font-size: 10px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid $white;
  display: none;
  cursor: pointer;
  margin-right: 20px;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}
.main_left{
  // height: 100%;
  // width: 75%;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // justify-content: center;
  // gap: 25px;
  // font-family: 'Poppins', sans-serif;
  width: 60%;
  font-size: 18.8px;
  display: flex;
  background-color: var(--bgBlack);
  flex-direction: column;
  padding-right: 100px;
  padding-top: 50px;
  h2 {
    color: $white;
    padding: 20px;
    font-size: 28.8px;
    font-weight: 700;
  }
  span {
    color: $orange;
  }
}
// .main_left h2{
//   font-size: 1.8rem;
//   color: var(--text2-color);
// }
// .main_left h2 span{
//   color: var(--text-color);
// }
// .mainleft-typing {
//   display: flex;
//   height: 10%;
//   width: 95%;
//   align-items: center;
// }
.mainleft-typing {
    display: flex;
    flex-direction: row;
    // height: 70px;
    margin-top: 0px;
    align-items: center;
    // width: 60%;
    margin-left: 20px;
  }
.mainleft-typing img {
  height: 70px;
}
.scroller_box {
  height: 4.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}

.scroller {
  position: relative;
  perspective: 20000px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  animation: rotate ease-in-out 12s infinite;
}

@keyframes rotate {
  0% {
      transform: rotateX(0deg);
  }

  20% {
      transform: rotateX(72deg);
  }

  40% {
      transform: rotateX(144deg);
  }

  60% {
      transform: rotateX(216deg);
  }

  80% {
      transform: rotateX(288deg);
  }

  100% {
      transform: rotateX(360deg);
  }
}

.scroller>div {
  font-size: 6rem;
  color: white;
  position: absolute;
  // height: 5.4rem;
  width: 494px;
  padding: 9px 0;
  padding-left: 10px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

.scroller>div:nth-child(1) {
  transform: rotateX(360deg) translateZ(55px);
  background-color: #171717;
}

.scroller>div:nth-child(2) {
  transform: rotateX(288deg) translateZ(55px);
  background-color: #171717;
}

.scroller>div:nth-child(3) {
  transform: rotateX(216deg) translateZ(55px);
  background-color: #171717;
}

.scroller>div:nth-child(4) {
  transform: rotateX(144deg) translateZ(55px);
  background-color: #171717;
}

.scroller>div:nth-child(5) {
  transform: rotateX(72deg) translateZ(55px);
  background-color: #171717;
  padding-left: 0;
  color: #ff8833;
}
.main_left h3{
  // color: var(--text2-color);
  // font-size: 1.2rem;
  // font-weight: 400;
  // letter-spacing: 1px;
  // width: 90%;
  font-size: 19.2px;
  padding: 20px;

}
.main-btn{
  margin-top: 20px;
}
.main-btn a{
  width: 20%;
  padding: 10px 20px;
  color: $orange;
  // font-size: 17px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid $orange;
  cursor: pointer;
  margin-left: 20px;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}
.hero-section {
  // width: 100%;
  display: flex;
  // height: 90vh;
  align-items: center;
  background-color: $bg-black;
  color: $white;
  min-height: 80vh;
 
}
.hero-content {
  width: 60%;
  font-size: 18.8px;
  display: flex;
  background-color: var(--bgBlack);
  flex-direction: column;
  padding-right: 100px;
  padding-top: 50px;
  p {
    color: $white;
    padding: 20px;
    font-size: 28.8px;
    font-weight: 700;
  }
  .special-text {
    color: $orange;
  }
  .hero-p {
    font-size: 19.2px;
  }
  .btn-1 {
    width: 20%;
    padding: 5px 10px;
    color: $orange;
    // font-size: 17px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid $orange;
    cursor: pointer;
    margin-left: 20px;
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}
.w_logo {
  width: 40%;
  background-color: $bg-black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wlogo {
  width: 100%;
  padding: 30px;
}
.ourservicep {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 15px;
}
.ourservice {
  background-color: $bg-black;
  display: flex;
  flex-direction: column;
  color: $white;
  h3 {
    color: $orange;
    margin-left: 30px;
  }
  .btn-2 {
    padding: 5px 5px;
    color: $orange;
    font-size: 18px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid $orange;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}
.service-section {
  background-color: $black;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #707070;
  .icons-5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-top: -80px;
    margin-bottom: 45px;
    margin-right: -20px;
    gap: 10px;
  }
}
.icons-5img {
  display: flex;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  background-color: $black;
  box-shadow: 0 0 10px #707070;
  img {
    padding: 15px;
    width: 100%;
  }
}
.ourservice-main {
  width: 100%;
  padding: 20px 20px;
  color: $white;
}
.ourservice-p {
  font-size: 25px;
  text-align: center;
}
.Aboutus-main {
  background-color: $bg-black;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $white;
}
.Aboutus {
  width: 25%;
  display: flex;
  font-size: 40px;
  margin-top: 20px;
  flex-direction: column;
  padding: 50px 50px;
  color: $white;
  .btn-3 {
    width: 70%;
    padding: 5px 5px;
    color: $orange;
    font-size: 12px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid $orange;
    cursor: pointer;
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}
.Aboutus-head {
  display: flex;
  font-size: 40px;
  flex-direction: column;
  padding: 50px 50px;
  color: $white;
}
.Aboutus-content {
  width: 75%;
  padding: 0px 15px;
  font-size: 16px;
  color: $white;
  h3 {
    font-size: 22 px;
    color: $orange;
  }
}
.Aboutus-p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22 px;
}
.ourwork-section {
  width: 100%;
}
.ourwork {
  background-color: $bg-black;
  width: 100%;
  font-size: 10px;
  color: $orange;
  text-align: center;
  p {
    font-size: 20px;
    margin-top: 10px;
    color: $white;
    margin-bottom: 20px;
  }
}
.ourwork-success {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $bg-black;
  padding: 20px 20px;
  h1 {
    font-size: 30px;
    color: $orange;
    margin-bottom: 20px;
  }
  p {
    color: $white;
  }
}
h3 {
  color: $white;
}
.success-line {
  margin-top: 20px;
}
.ourwork-success-main {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
}
.success {
  width: 150px;
  height: 150px;
  padding: 0px 10px;
  justify-content: center;
}
.review-section {
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 85%;
  margin: 10px;
  box-shadow: 0 0 10px #707070;
}
.review-main {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3 {
    text-align: end;
  }
}
.review {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  span {
    color: $white;
  }
}
.ourteam-main {
  padding: 30px;
  background-color: $bg-black;
  color: $white;
}
.oursales {
  color: $orange;
  text-align: center;
  p {
    color: $white;
  }
}
.oursales-team {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
}
.teamsales {
  display: flex;
  flex-direction: row;
  background-color: $black;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px #707070;
}
.teamsales-img {
  width: 100%;
  p {
    text-align: center;
  }
}
.teamsales-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 20px;
}
.teamimg {
  // width: 350px;
  height: 350px;
}
.ourteam-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 70%;
  h1 {
    color: $orange;
  }
}
.call {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: flex-end;
}
.call-now {
  padding: 5px 5px;
  color: $orange;
  font-size: 12px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid $orange;
  cursor: pointer;
  &:hover {
    background-color: $orange;
    color: $white;
  }
}
.subscribe {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $bg-black;
}
.joinus-line {
  position: absolute;
  right: -85px;
  font-size: 5rem !important;
  transform: rotate(-90deg);
  color: #70707098 !important;
  overflow: hidden;
  z-index: 0;
  padding-top: 30px;
}
.subscribe-main {
  color: $orange;
  width: 60%;
  font-size: 25px;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  p {
    color: $white;
    font-size: 20px;
  }
}
.subscribe-img{
  display: none;
}
.subscribe-form {
  width: 40%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  .subscribe-form-head {
    h2 {
      width: 70%;
      font-size: 40px;
      color: $orange;
    }
  }
  .btn-2 {
    padding: 10px 10px;
    color: $orange;
    font-size: 17px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid $orange;
    cursor: pointer;
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}
.form-section {
  background-color: $black;
  padding: 40px;
  width: 100%;
}
.subscribe-form-head {
  margin-bottom: 20px;
  h3 {
    width: 70%;
    font-size: 20px;
    color: $white;
  }
}
input {
  padding: 15px;
  background-color: $dark-gray;
  border: none;
  outline: none;
  box-shadow: 0px 0px 6px inset;
  color: $gray;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}
select {
  padding: 15px;
  background-color: $dark-gray;
  border: none;
  outline: none;
  box-shadow: 0px 0px 6px inset;
  color: $gray;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
textarea {
  padding: 15px;
  background-color: $dark-gray;
  border: none;
  outline: none;
  box-shadow: 0px 0px 6px inset;
  color: $gray;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
}
.subscribe-btn {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $black;
  padding: 0px 10px;
  img {
    height: 20px;
    margin-bottom: 10px;
  }
  .Address {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 40%;
    color: $white;
  }
  h2 {
    margin: 10px 0px;
    font-size: 15px;
    color: $orange;
  }
  .icons {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 10px;
    p {
      color: $white;
    }
  }
  .icon-imgs {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 30px;
  }
}
.socialmedia {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  img {
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
    &:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  .insta:hover {
    background-image: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    border-radius: 5px;
    // height: 30px;
    padding: 5px;
  }
  .whatsapp:hover {
    background: #25d366;
    border-radius: 5px;
    padding: 5px;
  }

  .facebook:hover {
    background: #3b5998;
    border-radius: 5px;
    padding: 5px;
  }
  .twitter:hover {
    background: #00acee;
    border-radius: 5px;
    padding: 5px;
  }
  .linkedin:hover {
    background: #0a66c2;
    border-radius: 5px;
    padding: 5px;
  }

  .youtube:hover {
    background: #c4302b;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    padding: 5px;
    width: auto;
  }
}

.ourwork .icon-5 {
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin-right: -20px;
  gap: 20px;
  justify-content: center;
}
.icon-5img {
  display: flex;
  border-radius: 5px;
  height: 150px;
  width: 15%;
  background-color: var(--black);
  box-shadow: 0 0 10px #707070;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .icon5-text {
    color: $orange;
    font-size: 15px;
  }
}

.main_right{
  width: calc(90vw - 50%);
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0 0 15px;
  position: relative;
  background-color: #000;
  // margin-top: 20px;
}
.main_right h2{
  // font-size: 1.9rem;
  color: var(--text2-color);
  font-family: 'Josefin Sans', sans-serif;
}

.main_right h1 {
  font-family: 'Josefin Sans', sans-serif;
  padding: 8px 0;
  // font-size: 2.5rem;
  color: $orange;
}
.main_right h3 {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  color: var(--text2-color);
  z-index: 6;
}
.attach-line {
  position: absolute;
  right: -160px;
  font-size: 6rem !important;
  transform: rotate(-90deg);
  color: #70707098 !important;
  overflow: hidden;
  // top: 380px;
  z-index: 0;
  // top: 230px;
}
.main_right form {
  z-index: 2;
  width: 85%;
  gap: 14px;
  // display: flex;
  // width: 80%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

}
input,
select,
textarea {
  padding: 10px;
  background-color: #70707068 ;
  border: none;
  outline: none;
  box-shadow: 0px 0px 6px inset;
  color: grey;
  border-radius: 5px;
  width: 100%;
}
::placeholder {
  font-size: 0.7rem;
  color: var(--text2-color);
}
#form_btn {
  padding: 10px 22px;
  font-size: 1vw;
  border: 3px solid $orange;
  color: $orange;
  display: block;
  width: 30%;
  cursor: pointer;
  transition: .2s all linear;
  box-shadow: none;
  background-color: #000;
}


#form_btn:hover {
  color: var(--text2-color);
  background-color: $orange;
}
.form_box{
  padding: 20px;
margin-left: -100px;
margin-top: 50px;
}


/* Accordion*/

.accordians {
  /* height: 84vh; */
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 30px 0;
}
.accordians h2{
  font-size: 1.3rem;
  color: var(--text2-color);
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
.accordians h1 {
  font-size: 1.8rem;
  color: var(--text-color);
  font-family: 'Josefin Sans', sans-serif;  
}
.accordion {
  // width: 85%;
  background-color: #000;
  height: 600px;
  // min-height: 80vh;
  display: flex;
  box-shadow: 0px 0px 10px rgb(255 255 255 / 47%);
  flex-direction: row;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
.accordion .box {
  position: relative;
  height: 100%;
  flex: 1;
  background-position: left;
  background-size: cover;
  transition: .4s all linear;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.47);
  background-color: #000;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url("../components/images/technology-communication-icons-symbols-concept.png");
}
// .a1{
//   position: relative;
//   height: 100%;
//   flex: 1;
//   background-position: left;
//   background-size: cover;
//   transition: .4s all linear;
//   box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.47);
//   background-color: #000;
//   z-index: 3;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex: 3;
//   background-image: url("../components/images/technology-communication-icons-symbols-concept.png");
// }

.box img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

#image2 {
  width: 64%;
  height: 32%;
  object-fit: cover;
  position: absolute;
  bottom: 88px;
  transition: .2s all linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover #image2 {
  width: 100%;
  height: 100%;
  /* top: 0; */
  bottom: 7px;
}

#image2 img {
  height: 100%;
  width: 86%;
}

.box:hover #image2 img {
  height: 72%;
  width: 64%;
}

.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
}

.accordion .box:hover {
  flex: 3;
}

.accordion p {
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;
}

.text_show {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  justify-content: space-between;
  height: 100%;
  transition: .5s ease-in linear;
  position: absolute;
  z-index: 5;
  width: -webkit-fill-available;
}

.accordion .box:hover .text_show {
  display: none;
}

.box .head {
  color: #FFF;
  width: 0;
  font-size: 2.6rem;
  transform: rotate(90deg);
  margin-left: 44px;
  margin-top: 0;
}

/* .rotate{
  animation: alter .5s;
} */
@keyframes alter {
  0% {
      transform: rotate(0deg);
  }

  25% {
      transform: rotate(23deg);
  }

  50% {
      transform: rotate(45deg);
  }

  75% {
      transform: rotate(63deg);
  }

  100% {
      transform: rotate(90deg);
  }
}

.bx {
  color: #fff;
  font-size: 3rem;
}

.text {
  position: absolute;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: .6s ease-in;
  z-index: 6;
  height: 100%;
  padding: 0 10px 0 20px;
  width: 100%;
  justify-content: center;
  text-align: left;
}

.accordion .box:hover .text {
  
  opacity: 1;
}

.accordion .box .text h1 {
  width: 381px;
  text-align: left;
  margin: 20px 0;
  color: #fff;
  font-size: 2.2rem;
  text-decoration: underline;
  padding-top: 60px;
}

.accordion .box h2 {
  color: #ff8833;
  font-size: 1.6rem;
  margin: 10px 0;
  text-align: start;
}

b {
  color: #ff8833;
  font-size: 1.2rem;
}

.accordion .box p {
  color: #fff;
  font-size: 1rem;
  word-wrap: break-word;
}

.accordion .circle {
  display: flex;
  gap: 20px;
}

.accordion .circles {
  height: 113px;
  width: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion .circles h4 {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: .9rem;
  font-family: Arial, Helvetica, sans-serif;
  left: 20px;
}
.imgs {
  width: 88px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion .circles img {
  height: inherit;
  width: fit-content;
}

.achievement {
  padding: 15px 0;

  width: inherit;
}

.inside_achieve {
  display: flex;
  gap: 15px;
}

.inside_achieve img {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.inside_achieve p {
  padding-left: 20px;
}

.accordion .btn1 {
  display: flex;
  justify-content: center;
  padding: 19px;
  margin-bottom: 20px;
}

.accordion button {
  color: #fff;
  padding: 10px 20px;
  border: 2.5px solid #ff8833;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: .2s all linear;
  font-size: .9rem;
}

.accordion button:hover {
  background-color: #ff8833;
}
@media (max-width:1074px) {
  .accordion .circle {
      gap: 2px;
  }
}
@media (max-width:990px) {
  .accordion .box .text h1 {
      margin: 10px 0;
      font-size: 2rem;
  }
  .accordion .box p {
      font-size: .9rem;
  }
  .accordion .box h2 {
      font-size: 1.3rem;
  }
  .accordion .circles {
      height: 106px;
      width: 108px;
  }
  .accordion .btn1 {
      padding: 6px;
  }
  .accordion button {
      font-size: .8rem;
  }
  .accordion .circles h4 {
      font-size: .75rem;
  }
}
@media (max-width:850px) {
  .accordion .circle {
      gap: 5px;
  }
  .accordion .circles {
      height: 85px;
      width: 108px;
      text-align: center;
  }
  .accordion .circles h4 {
      font-size: .65rem;
      text-align: center;
  }
  .accordians h2 {
      font-size: 1.1rem;
  }
  .accordians h1 {
      font-size: 1.6rem;
  }
}
@media (max-width:750px) {
  .accordion .box .text h1 {
      font-size: 1.8rem;
  }
  .accordion .box p {
      font-size: .85rem;
  }
  b {
      font-size: 1rem;
  }
  .accordion .box h2 {
      font-size: 1.1rem;
  }
  .accordion .circles {
      height: 94px;
      width: 108px;
  }
  .accordion {
      width: auto;
  }
}
@media (max-width:650px) {
  .accordians {
      padding: 20px 0px;
  }
  .accordion {
      flex-direction: column;
      height: 695px;
  }
  .accordion .box:hover {
      flex: 4;
  }
  .text_show {
      justify-content: center;
  }
  .box .head {
      font-size: 1.8rem;
      transform: rotate(0deg);
      margin-left: 18px;
  }
  #image2 {
      width: 22%;
      height: 57%;
      bottom: 34px;
  }
  .box:hover #image2 {
      width: 107%;
      height: 108%;
      /* top: 0; */
      bottom: -10px;
  }
  .accordians h2 {
      font-size: .9rem;
  }
  .text_show {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
  }
  .bx {
      transform: rotate(90deg);
  }
  .accordion .circles {
      height: 73px;
      width: 108px;
  }
  
  .bxl-gmail{
      transform: rotate(0deg);
  }
  .imgs {
      height: 49px;
  }
}
@media (max-width:460px) {
  .accordion .box .text h1 {
      font-size: 1.4rem;
  }
  .accordion .box p {
      font-size: .75rem;
  }
  b {
      font-size: .9rem;
  }
  .accordion button {
      padding: 7px 14px;
  }
  .accordion .circles {
      height: 73px;
      width: 75px;
  }
}
@media (max-width:400px) {
  .accordion .circles {
      height: 79px;
      width: 67px;
  }
  .imgs {
      height: 44px;
  }
}



@media (min-width:1200px) {
	.main_right {


		form {
			width: 90%;
		}
	}
	.attach-line {
		font-size: 6.5rem !important;
	}
	.main_left {
		h2 {
			font-size: 1.5rem;
		}
	}
	.mainleft-typing {
		img {
			height: 64px;
		}
	}
	.scroller {
		>div {
			font-size: 5.2rem;
		}
	}
}
@media (max-width:1013px) {
	.main_left {
		gap: 20px;
		h2 {
			font-size: 1.2rem;
		}
		h3 {
			font-size: 2rem;
		}
	}
	.mainleft-typing {
		img {
			// height: 47px;
		}
		height: 7%;
	}
	.scroller {
		>div {
			font-size: 5rem;
			// height: 4.4rem;
			&:nth-child(1) {
				transform: rotateX(360deg) translateZ(48px);
			}
			&:nth-child(2) {
				transform: rotateX(288deg) translateZ(48px);
			}
			&:nth-child(3) {
				transform: rotateX(216deg) translateZ(48px);
			}
			&:nth-child(4) {
				transform: rotateX(144deg) translateZ(48px);
			}
			&:nth-child(5) {
				transform: rotateX(72deg) translateZ(48px);
			}
		}
	}
	.scroller_box {
		height: 5rem;
	}
	.main-btn {
		a {
			padding: 6px 24px;
			font-size: 1.1rem;
		}
	}
	// .main_right {
	// 	width: calc(100vw - 43%);

	// 	h2 {
	// 		font-size: 1.7rem;
	// 	}
	// 	h3 {
	// 		font-size: 1rem;
	// 	}
	// }
	.attach-line {
		right: -183px;
		font-size: 6rem !important;
		top: 349px;
	}
}
@media (max-width:1000px) {
	#form_btn {
		font-size: 1.4vw;
		width: 31%;
	}
}
@media (max-width:850px) {
  .main_right{
    display: none;

  }
	.main_left {
		h2 {
			font-size: 2rem;
			// font-size: 1.1rem;
		}
		width: 82%;
	}
	.attach-line {
		right: -148px;
		font-size: 5rem !important;
		top: 388px;
	}
	#form_btn {
		width: 37%;
	}
}
@media (max-width:760px) {
	.main_left {
		h2 {
			font-size: 1rem;
			word-wrap: break-word;
		}
		h3 {
			font-size: .9rem;
		}
	}
	.mainleft-typing {
		img {
			height: 35px;
		}
	}
	.scroller {
		>div {
			padding-left: 5px;
			font-size: 3rem;
			height: 3.8rem;
			&:nth-child(1) {
				transform: rotateX(360deg) translateZ(41px);
			}
			&:nth-child(2) {
				transform: rotateX(288deg) translateZ(41px);
			}
			&:nth-child(3) {
				transform: rotateX(216deg) translateZ(41px);
			}
			&:nth-child(4) {
				transform: rotateX(144deg) translateZ(41px);
			}
			&:nth-child(5) {
				transform: rotateX(72deg) translateZ(41px);
			}
		}
	}
	.main_right {
		width: calc(100vw - 39%);
		h2 {
			font-size: 1.6rem;
		}
		h1 {
			font-size: 2.1rem;
		}
		h3 {
			font-size: .9rem;
		}
		&::placeholder {
			font-size: 1rem;
		}
	}
	.attach-line {
		right: -143px;
		font-size: 4.8rem !important;
		top: 374px;
	}
	#form_btn {
		font-size: 1.7vw;
		width: 42%;
	}
	.main-btn {
		a {
			padding: 6px 20px;
			font-size: 1rem;
		}
	}
}
@media (max-width:650px) {
	.hero-section {
		align-items: center;
		flex-direction: column;
		padding-left: 0;
		padding-top: 9%;
		gap: 10px;
		min-height: 50vh;
	}
	.main_right {
		// padding: 10px;
		// width: calc(100vw - 8%);
		// align-items: flex-start;
    display: none;

		form {
			width: 98%;
		}
	}
	.main_left {
		width: 98%;
		padding-left: 20px;
	}
	.attach-line {
		right: -143px;
		font-size: 4.8rem !important;
		top: 225px;
	}
}
@media (max-width:480px) {
  .main_right{
    display: none;

  }
	.main_left {
		h2 {
			font-size: .9rem;
		}
		h3 {
			font-size: .7rem;
		}
	}
	.main-btn {
		a {
			padding: 6px 20px;
			font-size: .8rem;
			border: 1.5px solid var(--text-color);
		}
	}
}
@media (max-width:420px) {
	.mainleft-typing {
		img {
			height: 27px;
		}
	}
	.scroller {
		>div {
			padding-left: 5px;
			font-size: 2.2rem;
			height: 3.2rem;
			&:nth-child(1) {
				transform: rotateX(360deg) translateZ(34px);
			}
			&:nth-child(2) {
				transform: rotateX(288deg) translateZ(34px);
			}
			&:nth-child(3) {
				transform: rotateX(216deg) translateZ(34px);
			}
			&:nth-child(4) {
				transform: rotateX(144deg) translateZ(34px);
			}
			&:nth-child(5) {
				transform: rotateX(72deg) translateZ(34px);
			}
		}
	}
	.main_left {
		gap: 16px;
	}
	.scroller_box {
		height: 2.4rem;
	}
	.main_right {
    display: none;

		h2 {
			font-size: 1.4rem;
		}
		h1 {
			font-size: 1.8rem;
		}
		h3 {
			font-size: .8rem;
		}
		&::placeholder {
			font-size: .8rem;
		}
		form {
			gap: 15px;
		}
	}
	input {
		padding: 12px;
	}
	select {
		padding: 12px;
	}
	textarea {
		padding: 12px;
	}
	#form_btn {
		font-size: 4vw;
		width: 42%;
	}
}


/*services */

@media (max-width:1120px) {
  .subscribe{
    display: flex;
    flex-direction: column;
    .subscribe-main {
    font-size: 15px;
    display: flex;
    flex-direction: row;

  }
  .subscribe-form {
    width: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
  }
}
.subscribe-main p {
  // color: var(--white);
  font-size: 15px;
}
.subscribe-img{
  display: block;
  width: 30%;
}
}
@media (max-width:1120px) {
  .team{
    display: flex;
    flex-direction: column-reverse;

    .ourteam-txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: auto; 
    }
    .teamimg {
      height: 300px;
    }
    .ourteam-txt h3{
      padding: 10px;
    }
    .ourteam-txt p{
      padding: 20px;
    }
  }
}
@media (max-width:1120px) {
  .oursales-team{
  padding: 20px;
  display: block;
  }
  .teamsales{
    display: flex;
    flex-direction: row;
    box-shadow: none;
    background-color: $bg-black;
    padding: 0;
    margin: 0;
  }
  .teamsales-img{
    width: auto;
  }
  .teamsales-text {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10 black;
    box-shadow: 0 0 10px #707070;
    padding: 35px;
}
.call {
  width: 93%;
  /* display: flex; */
  /* margin-top: 30px; */
  margin-left: 50px;
  /* justify-content: flex-end; */
}
}
@media (max-width:1120px){
  .Aboutus 
  {
  width: auto;
  font-size: medium;
  .btn-3{
    font-size: 10px;
    width: auto;
  }
  .aboutus-para{
    background-image: url("../components/images/logo3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
  }
}
}