@import "./common/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: $font-family;
  box-sizing: border-box;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
